/*========== Variables Colors -- Fonts -- Sizes ======*/


/*===== Colors ====== */

$first-color: hsl(212, 95%, 51%);
$body-color: #a0a0b4;
$body-bg: #FFF;
$color-title: rgba(0, 0, 0, 0.8);
$section-bg-light: #f3f3f3;

/*===== Sizes =======*/

$section-title: 36px;
$desc-sz: 16px;
//Box-shadow : effect
$ShadowEffect: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
0 10px 10px -5px rgba(0, 0, 0, 0.04);

/*===== Typography ======*/

$primary-font: 'nunito Sans',
sans-serif;
$russOne: 'Russo One',
sans-serif;
$Rajdhani: 'Rajdhani',
sans-serif;